<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Clone Existing Project</title>
</head>
<body ng-app="devAppApp">
	<div class="container" style="height: 400px; width: 1000px;">
		<header>Enter Repository Address:</header>
		<br />
		<div ng-controller="addExistingCtrl">
				Repo URL: <input type="text" name="repoURL" ng-model="repo.url" style="width: 300px;">
			</select>
		</div>
		<br />
		<button type="button" class="btn btn-primary"
			ng-click="closeThisDialog()">Select</button>
	</div>
</body>
</html>
