<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Create New Project</title>

</head>
<body ng-app="devAppAeApp">
	<div class="container" style="height: 400px; width: 1000px;">
		<header>Add New Repository</header>

		<form class="form-horizontal" role="form"
			ng-controller="initialSetupCtrl">

			<div class="input-group" title="Email associated with repo host.">
				<label for="inputEmail" class=" control-label">Email</label> <br />
				<input type="text" class="Dans-Form  form-control " id="inputEmail"
					ng-model="repoEmail" placeholder="Email" style="width: 400px">
			</div>
			
			<div class="input-group" title="Repo host user name.">
				<label for="inputUserName" class=" control-label">User Name
				</label> <br />
				<input type="text" class="Dans-Form  form-control " id="inputUserName" 
				ng-model="repoUserName"	placeholder="Repo User Name" style="width: 400px">
			</div>
			
			<div class="input-group" title="Repo host password.">
				<label for="inputPassword" class=" control-label">Password</label> </br>
				<input
					type="password" class="Dans-Form  form-control " id="inputPassword"
					ng-model="repoPassword" placeholder="Repo Password"
					style="width: 400px">
			</div>

			<div class="input-group" title="Repo host base url.">
				<label for="inputUrl" class=" control-label">URL</label> <br /><input
					type="url" class="Dans-Form  form-control " id="inputUrl"
					ng-model="repoUrl" placeholder="Repo URL" style="width: 400px">
			</div>
			
			<div class="input-group" title="Local storage folder.">
				<label for="inputFolder" class=" control-label">Folder
					Location</label> <br /> <input type="text"
					class="Dans-Form  form-control " id="inputFolder"
					ng-model="repoFolder" placeholder="C:\Users\thatGuy\SharedFolder"
					style="width: 400px" style="width:400px">
			</div>
		</form>

		<button type="button" class="btn btn-primary" ng-click="save()"
			style:"floatright" id="submitButton" style="right: 115px">Save</button>
		<button type="button" class="btn btn-danger"
			ng-click="closeThisDialog()" id="submitButton">Cancel</button>
	</div>
</body>
</html>
