<!--<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">DevApp A</h3>
</div>-->
<head>
<meta charset="utf-8">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet"
	href="../bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet"
	href="../bower_components/ngDialog/css/ngDialog.css" />
<link rel="stylesheet"
	href="../bower_components/ngDialog/css/ngDialog-theme-default.css" />
<!-- endbower -->
<!-- endbuild -->
<!-- build:css({.tmp,app}) styles/main.css -->
<link rel="stylesheet" href="../styles/main.css">
<!-- endbuild -->

<style type="text/css">

.btn {
width:175px;
}

</style>
</head>

<body>
	<div class="container" style="height: 0px">

		<nav ng-controller="MainCtrl" class="navbar navbar-default">

			<div class="container-fluid">

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">

					<ul class="nav navbar-nav">

						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown">DevApp <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#" ng-click="initialSetup()">Add a Repo</a></li>
								<li><a href="#" ng-click="editRepo()">Edit Repo</a></li>
								<li><a href="#" ng-click="deleteRepo()">Delete Repo</a></li>
								<li class="divider" />
								<li><a href="#" ng-click="newProject()">Create a New
										Project</a></li>
								<li><a href="#" ng-click="addExisting()">Clone Existing
										Project</a></li>
								<li><a href="#" ng-click="migrate()">Migrate Host</a></li>
								<li class="divider"></li>
								<li><a href="#" ng-click="pullRepo()">Pull from Repository</a></li>
								<li><a href="#" ng-click="commit()">Make a Commit</a></li>
								<li><a href="#" ng-click="pushRepo()">Push to Repository</a></li>
							</ul></li>

						<li><a href="#">GitHub Organizaiton</a></li>

						<li><a href="#">GitHub User</a></li>

					</ul>

				</div>
				<!-- /.navbar-collapse -->

			</div>
			<!-- /.container-fluid -->

		</nav>

		<div class="container-fluid">

			<div class="row-fluid">

				<div class="col-md-4 pad-col">

					<div class="panel panel-default">

						<div class="panel-heading">
							<h3 class="panel-title">Development</h3>
						</div>

						<div class="panel-content">
							<div class="btn-group">

								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown">
									<table style="width: 100%;">
										<tr>
											<td>Project1</td>

											<td><span class="caret"></span></td>
										</tr>
									</table>
									<span class="sr-only"> Toggle Dropdown </span>
								</button>

								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Make Active</a></li>
									<li class="divider"></li>
									<li><a href="#">Deploy to Stage</a></li>
									<li><a href="#">Commit</a></li>
									<li><a href="#">Push</a></li>
									<li class="divider"></li>
									<li><a href="#">Open in Browser</a></li>
								</ul>
							</div>
							<br />

							<div class="btn-group">

								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown">

									<table style="width: 100%;">
										<tr>
											<td>Project2</td>

											<td><span class="caret"></span></td>
										</tr>
									</table>
									<span class="sr-only"> Toggle Dropdown </span>
								</button>

								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Make Active</a></li>
									<li class="divider"></li>
									<li><a href="#">Deploy to Stage</a></li>
									<li><a href="#">Commit</a></li>
									<li><a href="#">Push</a></li>
									<li class="divider"></li>
									<li><a href="#">Open in Browser</a></li>
								</ul>
							</div>
							<br />
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown">
									<table style="width: 100%;">
										<tr>
											<td>Project3</td>

											<td><span class="caret"></span></td>
										</tr>
									</table>
									<span class="sr-only"> Toggle Dropdown </span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Make Active</a></li>
									<li class="divider"></li>
									<li><a href="#">Deploy to Stage</a></li>
									<li><a href="#">Commit</a></li>
									<li><a href="#">Push</a></li>
									<li class="divider"></li>
									<li><a href="#">Open in Browser</a></li>
								</ul>
							</div>

							<div class="btn-group">
								<button type="button" class="btn btn-default"
									 disabled>
									<table style="width: 100%;">
										<tr>
											<td>Project4</td>

											<td><img src="images/busySpinner.gif"></td>
										</tr>
									</table>
								</button>
							</div>

							<br />
							<hr>
							<span class="label label-primary">Current Build:</span> <br /> <span
								class="label label-default">Current Project:</span>
						</div>
					</div>

				</div>

				<div class="col-md-4 pad-col">

					<div class="panel panel-default">

						<div class="panel-heading">
							<h3 class="panel-title">Stage</h3>
						</div>

						<div class="panel-content">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown">
									<table style="width: 100%;">
										<tr>
											<td>Project2</td>

											<td><span class="caret"></span></td>
										</tr>
									</table>
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Rollback to Dev</a></li>
									<li><a href="#">Deploy to Prod</a></li>
									<li class="divider"></li>
									<li><a href="#">Open in Browser</a></li>
								</ul>
							</div>
							<br />
							<hr>
							<span class="label label-primary">Current Build:</span> <br /> <span
								class="label label-default">Current Project:</span>
						</div>
					</div>

				</div>

				<div class="col-md-4 pad-col">

					<div class="panel panel-default">

						<div class="panel-heading">
							<h3 class="panel-title">Production</h3>
						</div>

						<div class="panel-content">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown">
									<table style="width: 100%;">
										<tr>
											<td>Project2</td>

											<td><span class="caret"></span></td>
										</tr>
									</table>
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Rollback to Dev</a></li>
									<li class="divider"></li>
									<li><a href="#">Open in Browser</a></li>
								</ul>
							</div>

							<br />
							<hr>
							<span class="label label-primary">Current Build:</span> <br /> <span
								class="label label-default">Current Project:</span>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>


	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script',
				'//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-XXXXX-X');
		ga('send', 'pageview');
	</script>

	<!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../bower_components/angular-resource/angular-resource.js"></script>
	<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="../bower_components/angular-route/angular-route.js"></script>
	<script src="../bower_components/ngDialog/js/ngDialog.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="../scripts/app.js"></script>
	<script src="../scripts/controllers/main.js"></script>
	<script src="../scripts/controllers/newProject.js"></script>
	<script src="scripts/controllers/addExisting.js"></script>
	<script src="scripts/controllers/initialSetup.js"></script>

	<!-- endbuild -->
</body>