<!--<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">DevApp A</h3>
</div>-->

<div class="container">
  <nav class="navbar navbar-default">
    <nav class="navigation-bar-content">
      <div class="element">
        <a class="dropdown-toggle" href="#">DevApp</a>
        <ul class="dropdown-menu" data-role="dropdown">
          <li><a href="#">Main</a></li>
        </ul>
      </div>
      <span class="divider"></span>
      <a class="element brand" href="#"><span class="icon-github-2"> GitHub Organization</span></a>
      <span class="element-divider"></span>
      <a class="element brand" href="#"><span class="icon-github"> GitHub User</span></a>
   </nav>
    </nav>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-4 pad-col">
        <div class="panel panel-default">
          <div class="panel-header">Development</div>
          <div class="panel-content">
            <button ng-click="VM"><i class="icon-cube on-left"></i>Create New Project</button>
			<br />
            <button><i class="icon-plus on-left"></i>Add Existing Project</button>
			<br />
			<button><i class = "icon-plus on-left"></i>Migrate Hosts</button>
			<br />
			<hr>
			Current Build:
			<br />
			Current Project:
			
          </div>
        </div>
      </div>
      <div class="col-md-4 pad-col">
        <div class="panel">
          <div class="panel-header">Stage</div>
          <div class="panel-content">
			<button><i class = "icon-plus on left"></i>Pull</button>
			<br />
			<hr>
			Current Build:
			<br />
			Current Project:
			
          </div>
        </div>
      </div>
      <div class="col-md-4 pad-col">
        <div class="panel">
          <div class="panel-header">Production</div>
          <div class="panel-content">
			<button><i class = "icon-plus on left"></i>Pull</button>
			<br />
			<hr>
			Current Build:
			<br />
			Current Project:
          </div>
        </div>
      </div>
    </div>
  </div>
</div>